@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}

/* .navbar-item img {
  max-height: 3rem;
} */

.flex{
  display: flex;
}


.app-container{
  margin: 0 auto;
  /* container doesn't stretch beyond 107rem even if the screen size is larger. */
  max-width: 107rem;
  padding: 20px;
}

/* Posts page Start */
.filter-posts-btns{
  gap: 15px;
}

.filter-btn, 
.dropdown-toggle {
  background-color: #0d6efd;
  border-radius: 20px !important;
  border: 3px solid;
  border-color: rgba(236, 236, 236, 0.656);
  margin-bottom: 10px;
  &:hover {
    border-color: rgba(207, 207, 207, 0.493); /* Slightly darker or more visible border on hover */
  }

}

.post-card-title:hover {
  color: #0d6efd;
}

.posts-container{
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
}

.post-card-tags-container{
  gap: 5px;
  margin-bottom: 5px;
}

.post-card-icon {
  transition: transform 0.3s ease, background-color 0.3s ease;
  border: none;
}

.post-card-icon:hover {
  transform: scale(1.5);
  /* path {
   fill: #8d38fc; 
  } */
  
}

.menu-container {
  margin-left: auto;
  position: relative;
  padding: 1px 1px;
  &:hover {
    background-color: #E5E5E5; /* Sets a transparent grey background on hover */ 
    border-radius: 10px;
  }
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 1px;
}

.dropdown-menu {
  position: absolute;
  top: 26px; /* Positioned below the menu button */
  right: 0; /* Aligned to the right edge of the menu button */
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 120px;
  z-index: 10; /* Ensures the dropdown is above other elements */
}

.dropdown-item {
  display: block;
  padding: 8px 12px;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-item svg {
  margin-right: 8px; /* Adjust the value as needed */
}

.dropdown-item.delete {
  color: red; /* Specific styling for the delete item to make text red */
}
/* Posts page End */

.table {
  border-radius: 8px; /* Adjust the value to your preference */
  overflow: hidden; /* This ensures the corners of the table content also follow the border radius */
}

.table-container{
  width: 70%;
}
